.feature-slider {
    width: 100%;
    padding: 20px 0;
  }
  
  .feature-card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    width: 350px;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ddd; /* Add a border around the card */
  }
  
  .feature-card:hover {
    transform: translateY(-5px);
  }
  
  .feature-card img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 5px;
    margin-right: 15px;
  }
  
  .feature-card h5 {
    font-size: 16px;
    margin: 0 0 5px 0;
  }
  
  .feature-card p {
    font-size: 14px;
    color: blue; /* Change subtitle color to blue */
    margin: 0;
  }
  